#cadastro {
   position : absolute;
   top: 49%;
   left: 50%;
   transform: translate(-50%, -50%)
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#login {
  position : absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%)
}
body{
  background-image: url(fundo_prova.png)

}
.menu{
  position : absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.b1 {
  background-color: white;
  border: none;
  color:black;
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}
.b2 {
  background-color: white;
  border: none;
  color: black;
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}
.b3 {
  background-color:white;
  border: none;
  color: black;
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}
.lalala h1{
  position : absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.lalala h2{
  position : absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%)
}